<div class="container">
    {% render 'page-title', title: 404 %}
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center mb-5">Page not found</p>
        </div>
    </div>

</div>